appdirs==1.4.4
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2022.12.7
cffi==1.15.0
charset-normalizer==2.0.9
colorama==0.4.4
cssselect==1.1.0
fake-headers==1.0.2
fake-useragent==0.1.11
gevent==21.12.0
greenlet==1.1.2
grequests==0.6.0
html5lib==1.1
idna==3.3
importlib-metadata==4.11.3
keyboard==0.13.5
lxml==4.8.0
packaging==21.3
parse==1.19.0
Pillow==9.3.0
pycparser==2.21
pyee==8.2.2
pyparsing==3.0.8
pyperclip==1.8.2
pyppeteer==1.0.2
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyquery==1.4.3
pytesseract==0.3.9
pywin32==303
requests==2.26.0
requests-html==0.10.0
six==1.16.0
soupsieve==2.3.1
tqdm==4.64.0
urllib3==1.26.7
w3lib==1.22.0
webencodings==0.5.1
websockets==10.2
zipp==3.8.0
zope.event==4.5.0
zope.interface==5.4.0
